body {
 text-align: center;
}

#boggle-table {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 2px solid black;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

td {
    border: 2px solid black;
    font-size: 1.5rem;
}

form {
    margin: 15px;
}

#score-box {
    display: inline-block;
}