body {
 text-align: center;
 background: rgb(63,94,251);
 background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 font-family: 'American Typewriter', serif;
}

#boggle-table {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border: 2px solid goldenrod;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#boggle-title {
    font-size: 4rem;
    margin: 0.5rem;
    text-decoration: underline;
}

h1 {
    display: inline-block;
}
#input-container, #response-area {
    display: flex;
    justify-content: center;
}

#response {
    margin-left: 2em;
}

#time-box {
    background-color: whitesmoke;
    margin-left: 8rem;
    margin-bottom: 0.5rem;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.9rem;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

td {
    border: 2px solid goldenrod;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

#word-form {
    margin: 15px;
}

.score-box {
    display: inline-block;
    background-color: white;
    padding: 0.3em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}


#times-up-msg {
    margin-left: 6rem;
    margin-right: 3rem;
}
#start-btn {
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-top: 10px;
}
input {
   border: 2px solid black;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   font-size: 1.3em;
   padding: 0.3em;
}

button, #restart-btn {
    background-color: #dae6d5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #333;
    border-radius: 6px;
    font-size: 1.3em;
    padding: 0.3em;
  }

button:hover {
    background-color: #ffcc00;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

label {
    font-size: 1.6em;
    padding: 0.3em;
}

.hidden {
    visibility: hidden;
}