<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Boggle Game</title>
</head>
<body>
    <div id="header">
        <h1 id="boggle-title">Boggle</h1>
        <span id="time-box">
            <h1 id="minute-timer">0:</h1>
            <h1 id="timer">60</h1>
        </span>   
        <h1 class="hidden" id="times-up-msg">Time's Up!</h1>
        {%block highscore%}
        <h2 class="score-box">High Score: </h2>
        <h2 class="score-box" id="high-score">{{ session['high-score'] }}</h2>
        {%endblock%}
    </div>
    
    {%block board%}
    <table id="boggle-table">
        <tbody>
                {%for i in range(5)%}
                <tr>
                    {%for j in range(5)%}
                    <td>?</td>
                    {%endfor %}
                </tr>
                {%endfor%} 
        </tbody>
    </table>
    {% endblock %}
   
    {%block form%}
    <form action="/start" id="start-form">
        <button type="submit" id="start-btn">Start</button>
    </form>
    {%endblock%}
    {%block gameinfo%}

    {%endblock%}
    <script src="static/jquery-3.1.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/script.js"></script>
</body>
</html>