{%extends 'base.html'%}
{%block flash%}

{%endblock%}

{%block board%}
<div id="table-div">
    <table id="boggle-table">
        <tbody>
                {%for i in range(5)%}
                <tr>
                    {%for j in range(5)%}
                    <td>{{ session['board'][i][j] }}</td>
                    {%endfor %}
                </tr>
                {%endfor%} 
        </tbody>
    </table>
</div>

{%endblock%}
{%block form%}
<div id="input-container">
    <form action="" id="word-form" method="POST">
        <label for="guess"><b>Add a word:</b></label>
        <input type="text" id="guess">
        <button id="guess-btn">Check</button>
    </form>
    <form action="/start" id="restart-form">
        <button id="restart-btn" class="hidden">Restart</button>
    </form>
</div>

{%endblock%}
{%block gameinfo%}
<!-- <table>
    <tbody>
        <tr>
            <td>Score: </td>
            <td id="score-keeper"> 0</td>
        </tr>
    </tbody>
</table> -->
<div id="response-area">
    <h2 class="score-box">Score: </h2>
    <h2 class="score-box" id="score-value">0 </h2>
    <h2 id="response"></h2>
</div>
<!-- <h1>{{ session['fav-numb'] }}</h1> -->
<div id="found-words-container">
    <h2 id="found-words-list"> <u>Found Words</u>
        <br>
        </h2>
</div>


{%endblock%}